body {
    background-color:#f0f8ff;
    font-family: Arial;
}
.container {
    display: block;
}
.lateral {
    text-align: center;
    background-color: #759CBF;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    width: 25%;
}
.principal {
    margin-left: 27%;
    margin-right: 40px;
}
img {
    border-radius: 50%;
    width: 200px;
    margin-top: 20px;
}
@media (max-width: 768px) {
    .lateral {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;       /* ocupa toda a largura */
        height: auto;      /* só a altura do conteúdo */
    }
    .principal {
        margin-left: 0;    
        margin-top: 250px; /* empurra o conteúdo para baixo do menu */
    }
}
