body {
    background-color:#f0f8ff;
    font-family: Arial;
}
.container {
    display: block;
}
.lateral {
    text-align: center;
    background-color: #759CBF;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    width: 25%;
}
.principal {
    margin-left: 27%;
    margin-right: 40px;
}
img {
    border-radius: 50%;
    width: 200px;
    margin-top: 20px;
}
